html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.hero_section{
    height: 100%;
    width: 100%;
    position: relative;
}
#output{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.hero_section .container{
    height: 100%;
}